	@font-face {
		font-family: EuropeExt;
		src: url(/sources/fonts/EuropeExt Normal.otf);
	}
	@font-face {
		font-family: EuropeExt;
		src: url(/sources/fonts/EuropeExt Bold.ttf);
		font-weight: bold;
	}
	::selection {
    background: #797878;
    color: #fff;
    text-shadow: none;
}
	html, body{
		height: 100%;
	}
	body {
		font-family: arial, sans-serif;
	}
	.slicknav_menu{
		display: none;
	}
	.header {
		display: flex;
		height: 76px;
		width: 100%;
		align-items: center;
		background-color: #01983b;
		background-image: url(../sources/pattern.png);
		}
	.header a{
		font-size: 1rem;
		color: white;
		text-decoration: none;
	}
	.header ul, li{
	  padding: 0;
	  margin: 0;
	  list-style: none;
	}
	.header li:hover{
	background-color: #333;
	}
	.header li:active{
	background-color: black;
	}
	.header--nav{
		height: 100%;
		min-width: 980px;
		margin-top: 0;

	}
	.header--nav--menu{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		align-content: space-between;
		height: 100%;
	}
	.isActive{
		border-top: 2px solid white;
		border-bottom: 2px solid white;
	}
	.main{
		width: 51.04%;
		min-width: 980px;
		margin-left: auto;
		margin-right: auto;
	}
	.b-slider{
		width: 100%;
		height: 720px;
		background: url(../img/block1.png) white no-repeat center center;
	}
	.slider-header{
		display: flex;
		flex-flow: row nowrap;
		align-items: flex-start;
		justify-content: space-between;
	}
	.logo{
		flex:  40.82%;
		margin-top: 35px;
		margin-bottom: 45px;
	}
	.slider-contacts{
		flex: 42.86%;
		text-align: right;
		font-size: 12px;
		color: #01983b;
		margin-top: 35px;
	}
	.in{
		background: url(../img/in-logopng.png) no-repeat;
	}
	.vk{
		background: url(../img/vk-logo.png) no-repeat;
	}
	.in:hover{
		background-position: -21px 0px;
	}
	.vk:hover{
		background-position: -21px 0px;
	}
	.slider-contacts-header a{
		margin-left: 3px;
	}
	.icon-us{
		display: inline-block;
		max-width: 21px;
		height: 21px;
		padding-left: 17px;

	}
	.slider-contacts p, a{
		margin-top: 10px;
		font-size: 1rem;
		color: #2c2783;
		font-weight: bold;
		text-decoration: none;
	}
	.slider-contacts a:hover{
		text-decoration: underline;
		text-decoration-color: color: #2c2783;
	}
	.slider-contacts a:active{
		color: black;
		text-decoration: underline;
		text-decoration-color: color: black;
	}
	.slide-container{
		color: white;
		font-family: EuropeExt;
		position: relative;
		z-index: 1;
	}
	.slide-container::after{
		content: "";
		background: url(../img/Shadow-video.png) center center no-repeat;
		width: 100%;
		right: 0%;
		bottom: -5%;
		height: 45px;
		position: absolute;
		z-index: 0;
	}
	.slide-container h2, p{
		margin: 0px;
	}
	.slide-title{
		font-weight: normal;
		font-size: 30px;
	}
	.slide-p{
		padding-top: 15px;
		font-weight: bold;
		font-size: 24px;
	}
	.slide-desc{
		background-color: rgba(0, 0, 0, 0.3);
		padding-left: 25px;
		padding-right: 55px;
		padding-top: 35px;
		padding-bottom: 10px;
		margin-bottom: 35px;
	}
	.slide{
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-end;
		align-items: flex-start;
		width: 100%;
		height: 494px;
		position: absolute;
	}
	.slide-1{
		background: url(../img/slider-back-1.jpg);
	}
	.slide-2{
		background: url(../img/slider-back-2.jpg);
	}
	.slide-3{
		background: url(../img/slider-back-3.jpg) center;
	}
	.slide-4{
		background: url(../img/slider-back-4.jpg) center;
	}
	.slide-5{
		background: url(../img/slider-back-5.jpg) center;
	}
	.search-input{
		width: 80%;
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 2px solid #bfbdd9;
	}
	.search-icon{
		width: 19px;
		height: 19px;
		border: 0px;
		background-color: transparent;
		background-image: url(../img/search-icon.png);
	}
	.b-video{
		width: 100%;
		background: url(../img/block2.png) white no-repeat top center;
	}
	.video{
		padding-top: 67px;

	}
	.video-content{
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
	}
	.video-content p{
		margin: 0;
		text-align: center;

	}
	.title{
		margin-left: auto;
		margin-right: auto;
		font-size: 30px;
		color: #073d79;
		font-family: EuropeExt;
		text-transform: uppercase;
		font-weight: bold;
		vertical-align: middle;
		text-align: center;
	}
	.video-block{
		z-index: 1;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
		position: relative;
	}
	.video-block::after{
		content: "";
		background: url(../img/Shadow-video.png) center center no-repeat;
		right: 0%;
		bottom: -13%;
		width: 100%;
		height: 50px;
		position: absolute;
		z-index: 0;
	}

	.video-txt{
		padding: 0 75px;
		padding-top: 35px;
		font-size: 14px;
		text-align: center;
		color: #0a274d;
	}
	.video-txt-p{
		padding-top: 27px;
	}
	.video-read-more{
		margin-top: 45px;
		margin-bottom: 25px;
		text-align: center;
		vertical-align: middle;
	}
	.read-more-title:hover{
		background-color: gray;

	}
	.read-more-title:active{
		background-color: black;
		
	}
	.read-more-title{
		color: white;
		padding: 15px 40px;
		background: url(../sources/pattern.png) #019439;
		border-radius: 5px;
		box-shadow: 0px 5px 5px gray;
	}
	.b-compare{
		width: 100%;
		background: url(../img/block3.png) white center center no-repeat;
		}
	.compare{
		padding-top: 51px;
	}
	.compare-flex {
		margin-top: 35px;
		height: 310px;
		color: white;	
		text-transform: uppercase;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}
	.compare-flex ul, li{
	  list-style: none;
	  margin: 0;
	  padding: 0;
	}
	.compare-flex li:first-child{
		margin-top: 0;
	}
	.c-container1{
		position: relative;
		margin-right: 2.5px;
		flex: 50%;
		text-align: right;
		background: url(../img/cont1.png) transparent no-repeat center center;
		background-size: 100% 100%;
		justify-content: flex-start;
	}
	.c-container1 ul, .c-container2 ul{
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-end;
		font-size: 14px;

	}
	.c-container1::before{
	    content: "";
		width: 100%;
		height: 92%;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
	}
	.civil-list{
		width: 100%;
		padding-right: 25px;
		background-color: #01983b;
		padding-top: 4px;
		padding-left: 30px;
		padding-bottom: 4px;
		position: relative;
	}
	.civil-list::after{
		content: "";
		background-color: rgba(0, 255, 0, 0.3);
		width: 15%;
		height: 100%;
		position: absolute;
		bottom: 0%;
		right: 100%;
	}
	.civil-list::before{
		content: "";
		background-color: rgba(0, 255, 0, 0.1);
		width: 19%;
		height: 100%;
		position: absolute;
		bottom: 0%;
		right: 115%;
	}
	.c-container1 li, .c-container2 li{
		  margin-top: 12px;
	}
	.c-container2{
		position: relative;
		flex: 50%;
		margin-left: 2.5px;
		background: url(../img/cont2.png) transparent no-repeat center center;
		background-size: 100% 100%;
		text-align: left;
		align-items: flex-start;
	}
	.prom-list{
		padding-left: 25px;
		padding-top: 4px;
		width: 100%;
		padding-right: 30px;
		background-color: #01983b;
		padding-bottom: 4px;
		position: relative;
	}
	.prom-list:after{
		content: "";
		background-color: rgba(0, 255, 0, 0.3);
		width: 10%;
		height: 100%;
		position: absolute;
		top: 0%;
		left: 100%;
	}
	.prom-list:before{
		content: "";
		background-color: rgba(0, 255, 0, 0.1);
		width: 10%;
		height: 100%;
		position: absolute;
		top: 0%;
		left: 110%;
	}
	.c-cont-title{
		font-size: 24px;
		margin-top: 23px;
		margin-bottom: 21px;
	}
	.c1{
		font-size: 24px;
		padding-right: 25px;
	}
	.c2{
		font-size: 24px;
		padding-left: 25px;
	}
	 .c-container2::before{
		content: "";
		width: 100%;
		height: 92%;
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
	}
	.logo-absolute{
		position: absolute;
		bottom: 0;
	}
	.logo-l1{
		right: 50px;
	}
	.logo-l2{
		left: 50px;
	}
	.inner_cont{
		position: relative;
		z-index: 1;
	}
	.compare-margin-block-flex{
		display: flex;
		margin: 0 40px;
		margin-top: 50px;
		font-weight: bold;
		font-size: 14px;
		color: #01983b;
		text-transform: uppercase;
		text-align: center;
	}
	.compare-margin-block-flex div:nth-child(even){
	margin-top: 50px;
	}
	.compare-margin-f1, .compare-margin-f2{
		display: flex;
		flex-flow: row nowrap;
	}

	.b-table{
		background: url(../img/block4.png) transparent no-repeat center bottom;
		width: 100%;
		margin-top: 130px;
	}
	.table-t{
		position: relative;
		z-index: 1;
		color: #01983b;
		margin-bottom: 30px;
	}
	.tt{
		margin-top: 15px;
	}
	.table-container::before{
		content: "";
		background-color: rgba(255, 255, 255, 0.5);
		width: 120%;
		left: -10%;
		top: -5%;
		height: 820px;
		position: absolute;
		border: 3px solid #e6ecf4;
		z-index: 0;
	}
	.table, tr, td, th{
		font-size: 14px;
		color: #043567;
		text-align: center;
		padding: 13px 0; 
		position: relative;
		z-index: 1;
		border: 1px solid #e6ecf4;
		border-collapse: collapse;	
	}

	.table{
		width: 100%;
		border: 3px solid #e6ecf4;
		border-collapse: collapse;
	}
	.table th{
	background-color: #01983b;
	color: white;
	}
	.table tr:nth-child(even) {
	background-color: #f2f5f7;
	}
	.table tr:nth-child(odd) {
	background-color: #fff;
	}
	.table th:first-child, td:first-child {
	text-align: left;
	padding-left: 10px;
	}
	.table-container::after{
		content: "";
		background: url(../img/table-shadow.png) center;
		left: 0;
		width: 100%;
		height: 50px;
		position: absolute;
		z-index: 0;
	}

	.b-tasks{
		background: url(../img/block5.png) transparent no-repeat right center;
		width: 100%;
		margin-top: 100px;
	}
	.task-flex-container{
		font-size: 14px;
		color: white;
		width: 100%;
		margin-bottom: 52px;
	}
	.task-container1{
		display: flex;
		flex-flow: row wrap;
		
	}
	.task-container1 li{
		position: relative;
		margin-right: 4.5px;
		flex: 22%; 
		margin-top: 6px;
		padding-top: 10px;
		padding-bottom: 7px;
		background: url(../img/sad-icon.png) #ff0000 no-repeat 15px 3px;
		padding-left: 70px;
	}
	.task-container1 li:nth-child(even){
		margin-left: 4.5px;
		flex: 50%;
		margin-top: 6px;
		padding-top: 10px;
		padding-bottom: 7px;
		padding-left: 70px;
		background: url(../img/happy-smile.png) #01983b no-repeat 15px 3px;
	}
	.task-flex-container ul, li{
	 	padding: 0;
	 	margin: 0;
	 	list-style: none;
	}
	.task-container1 li:after{
		content: "";
		background-color: rgba(255, 0, 0, 0.6);
		width: 14%;
		height: 100%;
		position: absolute;
		bottom: 0%;
		right: 100%;
	}
	.task-container1 li:nth-child(even):after{
		content: "";
		background-color: rgba(96, 190, 132, 0.7);
		width: 8.75%;
		height: 100%;
		position: absolute;
		top: 0%;
		left: 100%;
	}
	.task-container1 li:before{
		content: "";
		background-color: rgba(255, 0, 0, 0.3);
		width: 14%;
		height: 100%;
		position: absolute;
		bottom: 0%;
		right: 114%;
	}
	.task-container1 li:nth-child(even):before{
		content: "";
		background-color: rgba(96, 190, 132, 0.3);
		width: 8.75%;
		height: 100%;
		position: absolute;
		top: 0%;
		left: 108.75%;
	}
	.a-title{
		padding-top: 18px;
		color: #2c2783;
	}
	.a-flex-container{
		margin: 0 50px;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
		align-items: center;
	}
	.a-second-title{
		font-size: 24px;
		color: #2c2783;
	}
	.b-contacts::before{
		content: "";
		height: 3px;
		background: url(../sources/pattern.png) #34ad62 repeat;
		position: absolute;
	}
	.b-contacts{
		margin-top: 50px;
		position: relative;
		background-color: #01983b;
		background-image: url(../sources/pattern.png);
		color: white;
		border-radius: 0 0 20px 20px;
		box-shadow: 0px 10px 20px #94948f;
	}
	.contacts-content{
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}
	.contacts-t{
		margin-top: 0px;
		padding-top: 35px;
		margin-bottom: 20px;
		font-family: EuropeExt;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 30px;
	}
	.contacts-name{
		margin-top: 0;
		margin-bottom: 17px;
		font-size: 18px;
	}
	.contact-links{
		
		padding-bottom: 30px;
		margin-bottom: 0px;
	}
	.contact-links a{
		font-size: 14px;
	}
	.contact-links a{
		color: white;
		text-decoration: none;
	}
	.b-maps{
		margin-top: -40px;
	}
	.footer{
		margin-top: -10px;
		color: white;
		width: 100%;
		background: url(../img/footer-back.png) #01983b -50% center no-repeat;
		background-size: contain;
		font-size: 12px;
	}
	.footer-content{
		padding-top: 26px;
		text-align: center;
	}
	.year{
		margin-top: 0px;
		margin-bottom: 15px;
	}
	.footer-logo{
		width: 33px;
		height: 32px;
		max-width: 33px;
		display: inline-block;
	}
	.white-in{
		background: url(../img/white-logo-in.png) no-repeat;
		margin-right: 3.5px;
	}
	.white-vk{
		background: url(../img/white-vk-logo.png) no-repeat;
		margin-left: 3.5px;
	}
	.white-in:hover{
		background-position: -33px 0px;
	}
	.white-vk:hover{
		background-position: -33px 0px;
	}
	.slider-contacts-header a{
		margin-left: 3px;
	}
	.icon-us{
		display: inline-block;

	}
	.wezom-a{
		margin: 0;
		padding-top: 100px;
		padding-bottom: 20px; 
	}
	.wezom-a a{
		color: white;
		text-decoration: none;
	}
	.footer-links-title{
		margin-top: 0px;
		margin-bottom: 9px;
	}
	.footer-links{
		margin: 0;
	}
@media screen and (max-width: 1224px) {
	.table{
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}
	.task-flex-container{
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
	.compare-flex{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.table-container::before{
		width: 90%;
		left: 5%;
		height: 110%;
		top: -5%;
	}
	.table-container::after{
		width: 90%;
	}
}
@media screen and (max-width: 1000px) {
	.header{
		display: none;
	}
	.slicknav_menu{
		display: block;
		position: relative;
	}
	.main{
		width: 80%;
		min-width: unset;
	}
	.b-slider{
		background: white;
	}
	.slider-header{
		display: flex;
		flex-flow: column nowrap;
		align-items: center;
		justify-content: space-between;
	}
	.logo{
		margin-bottom: 0;
	}
	.logo img{
		width: 100%;
		height: auto;
	}
	.slider-contacts{
		text-align: center;
		margin-top: 25px;
	}
	.slide-title{
		font-weight: normal;
		font-size: 16px;
	}
	.slide-p{
		padding-top: 15px;
		font-weight: bold;
		font-size: 14px;
	}
	.form{
		margin-top: 14px;
	}
	.slide-container{
		margin-top: 25px;
	}
	.slide-container::after{
		width: 0;
	}
	.tt{
		margin-bottom: 15px;
	}
	.task-t{
		margin-bottom: 15px;
	}
	.title{
		margin: 0;
		text-align: center;
		font-size: 20px;
	}
	.title img{
		width: 75%;
	}
	.video-block{
		margin-top: 25px;
		width: 100%;
		height: 350px;
	}
	.video-txt{
		margin-top: 25px;
		width: 100%;
		padding: 0 0;
	}
	.table{
		padding-top: 0px;
		padding-bottom: 0px;
		overflow-x: auto;
		display: block;
	}
	.table-container::after{
		width: 0;
	}
	.b-video{
		margin-top: 50px;
	}
	.compare-flex {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between;
		height: unset;
	}
	.c-container1, .c-container2{
		height: 350px;
	}
	.margin-block img{
		height: auto;
	}
	.c1, .c2{
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 18px;
	}
	.c-container1{
		margin-bottom: 25px;
		margin-right: 0px;
	}
	.c-container2{
		margin-left: 0px;
	}
	.civil-list{
		padding-right: 10px;
	}
	.prom-list{
		padding-left: 10px;
	}
	.civil-list::before, .prom-list{
		font-size: 14px;
	}
	.civil-list::before, .civil-list::after, .prom-list::before, .prom-list::after{
		width: 0;
	}
	.compare-margin-block-flex{
		flex-flow: row wrap;
		justify-content: space-around;
		margin-right: auto;
		margin-left: auto;
	}
	.margin-block{
		margin-left: 20px;
	}
	.compare-margin-block-flex div:nth-child(even){
		margin-top: 0px;
	}
	.compare-margin-block-flex img{
		width: 100%;
		height: auto;
	}
	.task-container1{
		justify-content: center;
	}
	.task-container1 li:nth-child(even){
		margin-left: 0px;
	}
	.task-container1 li:after{
		width: 8.5%;
		height: 100%;
		position: absolute;
		bottom: 0%;
		left: 100%;
	}
	.task-container1 li:before{
		width: 8.5%;
		height: 100%;
		position: absolute;
		bottom: 0%;
		left: 108.5%;
	}
	.a-flex-container{
		margin-top: 25px;
		margin-bottom: 25px;
		flex-flow: column nowrap;
	}
	.a-title-img{
		margin-top: 25px;
		margin-right: auto;
		margin-left: auto;
		width: 50%;
		height: auto;
	}
	.contacts-t{
		font-size: 24px;
	}
	.contacts-name{
		font-size: 14px;
	}
}
@media screen and (max-width: 445px) {
	.main{
		width: 90%;
	}
	.title {
		font-size: 14px;
	}
	.civil-list{
		padding-right: 10px;
		padding-left: 10px;
		font-size: 10px;
	}
	.prom-list{
		padding-left: 10px;
		padding-right: 10px;
		font-size: 10px;
	}
	.compare-margin-block-flex{
		font-size: 10px;
		flex-flow: row wrap;
	}
	.footer-img{
		width: 75%;
	}
	.c-container1, .c-container2{
		height: 250px;
	}
}